In [1]:
import pandas

In [6]:
# Excelファイルの読み込み
# 第一引数にファイルのパス、第二引数にシート名
item_master = pandas.read_excel("../resource/sample.xlsx", "商品マスタ")
sales = pandas.read_excel("../resource/sample.xlsx", "売り上げ")


|名前|役割|
|---|---|
|head|引数で指定した行数を取得|
|size|行数を返す|
|sum|合計を取得、dataframeの場合は各列ごとの合計が取得される|
|mean|平均値を取得する、dataframeの場合は各列ごとの平均が取得される|
|max|最大値を取得する|
|min|最小値を取得する|
|describe|要約統計量を取得する|

In [9]:
# 上から5行取得する
sales.head(5)

   商品ID  個数         日付
0     1   8 2017-10-01
1     3   2 2017-10-02
2     1   6 2017-10-03
3     5   2 2017-10-03
4     3   8 2017-10-05

In [10]:
# dataframeの大まかな情報を取得する
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 3 columns):
商品ID    89 non-null int64
個数      89 non-null int64
日付      89 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 2.2 KB

In [35]:
# 行数を取得
sales.loc[:, "個数"].size

89

In [44]:
# フィルターをかけたい
filtered_sales = sales.loc[sales["個数"] < 100] # 個数を100以下で絞り込んだ後のdataframeを変数に入れる
filtered_sales.head(5)

   商品ID  個数         日付
0     1   8 2017-10-01
1     3   2 2017-10-02
2     1   6 2017-10-03
3     5   2 2017-10-03
4     3   8 2017-10-05

In [40]:
# 合計を取得(個数が100以上のものは不正として)
sales.loc[sales["個数"] < 100]["個数"].sum()

532

In [41]:
# 最大値を取得(100以上は不正としてカウントしない)
filtered_sales["個数"].max()

50

In [45]:
# 最小値を取得(100以上は不正としてカウントしない)
filtered_sales["個数"].min()

1

In [42]:
# 平均値を取得(100以上は不正としてカウントしない)
filtered_sales["個数"].mean()

6.1149425287356323

In [43]:
# さくっと情報欲しいとき
filtered_sales["個数"].describe()

count    87.000000
mean      6.114943
std       5.501427
min       1.000000
25%       3.000000
50%       6.000000
75%       8.000000
max      50.000000
Name: 個数, dtype: float64